  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    -webkit-font-smoothing: antialiased;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", "Noto", sans-serif;
    font-size: 1rem;
    letter-spacing: .016em;
    line-height: 1.25;
    background-color: #f2f2f2;
    color: #202020;
    min-height: 100vh;
  }

  view-app[unresolved] {
    background-color: #ffffff;
    display: block;
    height: 100vh;
    overflow: hidden;
  }

  img.loader-logo,
  h1.loader-title {
    -webkit-animation-play-state: linear;
    animation-play-state: linear;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  div.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    height: 100vh;
  }

  div.flex-grpup {
    margin: auto;
  }

  div.container h1 {
    margin: 10px;
    font-size: 1.6180rem;
    font-weight: 500;
    color: #202020;
  }

  img.loader-logo {
    width: 120px;
    height: 120px;
  }

  @-webkit-keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  vaadin-license-box {
    display: none !important;
    /* REMOVE WHEN USE IN PRODUCTION */
  }